.gen/
gen/
mta_archives/
node_modules/
target/
.docs/
docs/

.cds_gen.log
connection.properties
*.db
*.sqlite
*.journal
.DS_Store
*.orig
_out
default-*.json
package-lock.json

fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json

.vscode/
vscode/
.vscode/settings.json

.env
*.log
*.mta
mta-op-*
sapui5-1.96.0
/sapui5-1.96.0
dist/
reportEsLint.html

test10.CSV
test100.CSV
test1000.CSV
test10000.CSV